<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Self Learning Platform</a>
  </div>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
</nav>
<div class="row main-container">
  <div class="col-1 bg-light">
    <div class="row">
      <!-- <div class="border col-12 p-4 text-center cursor-pointer menu-hover" [routerLink]="['/home']"
        routerLinkActive="active-link">
        Home
      </div>
      <div class="border col-12 p-4 text-center cursor-pointer menu-hover" [routerLink]="['/idea/my-idea']"
        routerLinkActive="active-link">
        My Idea
      </div>
      <div class="border col-12 p-4 text-center cursor-pointer menu-hover" [routerLink]="['/idea/new-idea']"
        routerLinkActive="active-link">
        New Idea
      </div>

      <div class="border col-12 p-4 text-center cursor-pointer menu-hover" [routerLink]="['/rating/rating']"
        routerLinkActive="active-link">
        Rating
      </div>  -->



    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
